.header-banner {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    font-weight: bold;
    width: 100%;
}

.header-button {
    display: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color);
        scale: 1.1;
    }
}

button {
    border: none;
}

@media (max-width: 800px) {
    .header-banner {
        display: none;
    }

    .header-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid var(--primary-color);
        background-color: var(--background-color);
        width: 100%;

        .nav-list {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
            }
            li {
                height: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: var(--background-color);
            }
            li:nth-child(odd) {
                background-color: var(--secondary-background-color);
            }
            .li-button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}