.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: var(--tertiary-color);
}

h2 {
    border-bottom: 2px dashed var(--secondary-color);
    margin-bottom: 20px;
}