app-header-nav {
    position: sticky;
    top: 5px;
    z-index: 10;
}

.section {
    scroll-margin-top: 79px;
    margin-bottom: 64px;
}

h2 {
    border-bottom: 2px dashed var(--secondary-color);
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

.whoami-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    img {
        height: 200px;
        width: auto;
    }
}

.tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .tech-logos-texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 70px;
        width: 70px;

        text-align: center;

        img {
            height: 50px;
            margin: 10px;
        }
    }
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .social-logos-texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
            height: 50px;
            margin: 10px;
        }
    }
}

.timeline-container {
    z-index: 0;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

// Line in the timeline
.timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    margin-left: 6px;
    width: 4px;
    height: 100%;
    background: var(--secondary-color);
}

.timeline-block {
    display: flex;
    flex-direction: row;
    align-items:start;
}

// Marker in the timeline (circle)
.marker {
    margin-top: 5px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: var(--tertiary-color);
    z-index: 1;
}

.timeline-content {
    padding-left: 10px;
    padding-bottom: 30px;
}

//The last block does not need bottom padding
.timeline-block:last-child .timeline-content {
    padding-bottom: 0;
}

.tech-badges-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;

    img {
        width: 7%;
    }
}

@media (max-width: 800px) {

    .section {
        scroll-margin-top: 35px;
    }

    .whoami-container {
        flex-direction: column;
        align-items: center;
    }
}

.card {
    box-shadow: 1px 2px 8px 2px var(--primary-color);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 24px;
}

.card-content {
    padding: 16px;

    p {
        width: 100%;

        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }
}