app-header-nav {
    position: sticky;
    top: 5px;
}

.section {
    //scroll-snap-align: start;
    scroll-margin-top: 79px;
    margin-bottom: 64px;
}

h2 {
    border-bottom: 2px dashed var(--secondary-color);
}

.whoami-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    img {
        height: 200px;
        width: auto;
    }
}

.tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .logos-texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 70px;
        width: 70px;

        text-align: center;

        img {
            height: 50px;
            margin: 10px;
        }
    }
}