* {
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 24px;
    //centrer l'image
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 50px;
}